*
{
    margin: 0;
}

.container
{
    width: 100vw;
    height: 100vh;

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 4rem;
}

td
{
    width: 10rem;
    height: 10rem;

    text-align: center;
}

.vazio
{
    background-color: gray;
}

.parede
{
    background-color: black;
}

.caminho
{
    background-color: blue;
    color: black;
}

.inicio
{
    background-color: green;
}

.final
{
    background-color: red;
}